In [65]:
#Structure:
#Import librairies
#Import table/data
    #challenge: #file had metadata/explanations in the first 5 rows, which made the file irregular and caused an error (An error occurred: Error tokenizing data. C error: Expected 3 fields in line 5, saw 69) during the import
#quick cleaning of column names
#removing unwanted columns: because there are many, creation of a list to gather all the ones we need removed
#adding average column
#removing columns used for the calculation of average column and not needed anymore
#importing second dataset to add countries income group (high vs. low income)
#selecting only countries we want to analyze



import pandas as pd
import numpy as np


unpaid_dom_work_URL = '../data/raw/API_SG.TIM.UWRK.FE_DS2_en_csv_v2_3435778.csv'

try:
    unpaid_dom_work_df = pd.read_csv(unpaid_dom_work_URL)
    print("File loaded successfully!")
    print(unpaid_dom_work_df.head())  # Display the first few rows
except FileNotFoundError:
    print("File not found. Please check the file path.")
except Exception as e:
    print(f"An error occurred: {e}")

#file had metadata/explanations in the first 5 rows, which made the file irregular and caused an error (An error occurred: Error tokenizing data. C error: Expected 3 fields in line 5, saw 69) during the import

File loaded successfully!
                  Country Name Country Code  \
0                        Aruba          ABW
1  Africa Eastern and Southern          AFE
2                  Afghanistan          AFG
3   Africa Western and Central          AFW
4                       Angola          AGO

                                      Indicator Name  Indicator Code  1960  \
0  Proportion of time spent on unpaid domestic an...  SG.TIM.UWRK.FE   NaN
1  Proportion of time spent on unpaid domestic an...  SG.TIM.UWRK.FE   NaN
2  Proportion of time spent on unpaid domestic an...  SG.TIM.UWRK.FE   NaN
3  Proportion of time spent on unpaid domestic an...  SG.TIM.UWRK.FE   NaN
4  Proportion of time spent on unpaid domestic an...  SG.TIM.UWRK.FE   NaN

   1961  1962  1963  1964  1965  ...  2015  2016  2017  2018  2019  2020  \
0   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN
1   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN
2   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN
3   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN
4   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN

   2021  2022  2023  Unnamed: 68
0   NaN   NaN   NaN          NaN
1   NaN   NaN   NaN          NaN
2   NaN   NaN   NaN          NaN
3   NaN   NaN   NaN          NaN
4   NaN   NaN   NaN          NaN

[5 rows x 69 columns]

In [66]:
unpaid_dom_work_df.shape

(266, 69)

In [67]:
#quick cleaning of column names
unpaid_dom_work_df.columns=[x.lower() for x in unpaid_dom_work_df.columns]
unpaid_dom_work_df.columns=[x.strip() for x in unpaid_dom_work_df.columns]
unpaid_dom_work_df.columns=map(lambda x:x.replace(" ","_"),unpaid_dom_work_df.columns)


#removing unwanted columns: because there are many, creation of a list to gather all the ones we need removed

list_years_to_remove=[1960]
year=1960
for i in range(39):
    year+=1
    list_years_to_remove.append(year)
print(list_years_to_remove)

for x in list_years_to_remove:
    unpaid_dom_work_df.drop(str(x), axis=1, inplace=True)

unpaid_dom_work_df.drop('unnamed:_68',axis=1,inplace=True)
unpaid_dom_work_df.drop('indicator_code',axis=1,inplace=True)


unpaid_dom_work_df.head()

[1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999]

,country_name,country_code,indicator_name,2000,2001,2002,2003,2004,2005,2006,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,ABW,Proportion of time spent on unpaid domestic an...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Proportion of time spent on unpaid domestic an...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Proportion of time spent on unpaid domestic an...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,Proportion of time spent on unpaid domestic an...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,Proportion of time spent on unpaid domestic an...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
#adding average column

list_years_for_average=[2000]
year_average=2000
for y in range(23):
    year_average+=1
    list_years_for_average.append(year_average)

list_years_for_average_str=[]
for z in list_years_for_average:
    z=str(z)
    list_years_for_average_str.append(z)


unpaid_dom_work_df['average_since_2000']=unpaid_dom_work_df[list_years_for_average_str].mean(axis=1)
unpaid_dom_work_df.head()

unpaid_dom_work_df['average_since_2000'].isna()
unpaid_dom_work_df['average_since_2000'].value_counts()

print(unpaid_dom_work_df.iloc[263])
unpaid_dom_work_df.head()

unpaid_dom_work_df['average_since_2000'].isna().sum() #We have 177 missing average out of 266 rows
unpaid_dom_work_df['average_since_2000'].isna().sum()/unpaid_dom_work_df.shape[0] # 67% missing values

unpaid_dom_work_df.head()

#removing columns used for the calculation of average column and not needed anymore
unpaid_dom_work_df.drop(columns=list_years_for_average_str,axis=1, inplace=True)

country_name                                               South Africa
country_code                                                        ZAF
indicator_name        Proportion of time spent on unpaid domestic an...
2000                                                           14.79167
2001                                                                NaN
2002                                                                NaN
2003                                                                NaN
2004                                                                NaN
2005                                                                NaN
2006                                                                NaN
2007                                                                NaN
2008                                                                NaN
2009                                                                NaN
2010                                                           15.55556
2011                                                                NaN
2012                                                                NaN
2013                                                                NaN
2014                                                                NaN
2015                                                                NaN
2016                                                                NaN
2017                                                                NaN
2018                                                                NaN
2019                                                                NaN
2020                                                                NaN
2021                                                                NaN
2022                                                                NaN
2023                                                                NaN
average_since_2000                                            15.173615
Name: 263, dtype: object

In [69]:
#importing second dataset to add countries income group (high vs. low income)

unpaid_dom_work_URL_grouped_incometype = '../data/raw/Metadata_Country_API_SG.TIM.UWRK.FE_DS2_en_csv_v2_3435778.csv'

try:
    unpaid_dom_work_incometype_df = pd.read_csv(unpaid_dom_work_URL_grouped_incometype)
    print("File loaded successfully!")
    print(unpaid_dom_work_incometype_df.head())  # Display the first few rows
except FileNotFoundError:
    print("File not found. Please check the file path.")
except Exception as e:
    print(f"An error occurred: {e}")

unpaid_dom_work_incometype_df.shape

File loaded successfully!
  Country Code                     Region          IncomeGroup  \
0          ABW  Latin America & Caribbean          High income
1          AFE                        NaN                  NaN
2          AFG                 South Asia           Low income
3          AFW                        NaN                  NaN
4          AGO         Sub-Saharan Africa  Lower middle income

                                        SpecialNotes  \
0                                                NaN
1  26 countries, stretching from the Red Sea in t...
2  The reporting period for national accounts dat...
3  22 countries, stretching from the westernmost ...
4  The World Bank systematically assesses the app...

                     TableName  Unnamed: 5
0                        Aruba         NaN
1  Africa Eastern and Southern         NaN
2                  Afghanistan         NaN
3   Africa Western and Central         NaN
4                       Angola         NaN

(265, 6)

In [70]:
#keeping only columns we need

unpaid_dom_work_incometype_df=unpaid_dom_work_incometype_df[['Country Code','Region','IncomeGroup']]

#quick cleaning of column names
unpaid_dom_work_incometype_df.columns=[x.lower() for x in unpaid_dom_work_incometype_df.columns]
unpaid_dom_work_incometype_df.columns=[x.strip() for x in unpaid_dom_work_incometype_df.columns]
unpaid_dom_work_incometype_df.columns=map(lambda x:x.replace(" ","_"),unpaid_dom_work_incometype_df.columns)

unpaid_dom_work_incometype_df

    country_code                      region          incomegroup
0            ABW   Latin America & Caribbean          High income
1            AFE                         NaN                  NaN
2            AFG                  South Asia           Low income
3            AFW                         NaN                  NaN
4            AGO          Sub-Saharan Africa  Lower middle income
..           ...                         ...                  ...
260          XKX       Europe & Central Asia  Upper middle income
261          YEM  Middle East & North Africa           Low income
262          ZAF          Sub-Saharan Africa  Upper middle income
263          ZMB          Sub-Saharan Africa  Lower middle income
264          ZWE          Sub-Saharan Africa  Lower middle income

[265 rows x 3 columns]

In [71]:
#merge of both data set on the country_code common column

unpaid_dom_work_merged_df=pd.merge(unpaid_dom_work_df, unpaid_dom_work_incometype_df, how='inner', on='country_code')
unpaid_dom_work_merged_df

,country_name,country_code,indicator_name,average_since_2000,region,incomegroup
0,Aruba,ABW,Proportion of time spent on unpaid domestic an...,NaN,Latin America & Caribbean,High income
1,Africa Eastern and Southern,AFE,Proportion of time spent on unpaid domestic an...,NaN,NaN,NaN
2,Afghanistan,AFG,Proportion of time spent on unpaid domestic an...,NaN,South Asia,Low income
3,Africa Western and Central,AFW,Proportion of time spent on unpaid domestic an...,NaN,NaN,NaN
4,Angola,AGO,Proportion of time spent on unpaid domestic an...,NaN,Sub-Saharan Africa,Lower middle income
...,...,...,...,...,...,...
260,Kosovo,XKX,Proportion of time spent on unpaid domestic an...,NaN,Europe & Central Asia,Upper middle income
261,"Yemen, Rep.",YEM,Proportion of time spent on unpaid domestic an...,NaN,Middle East & North Africa,Low income
262,South Africa,ZAF,Proportion of time spent on unpaid domestic an...,15.173615,Sub-Saharan Africa,Upper middle income
263,Zambia,ZMB,Proportion of time spent on unpaid domestic an...,NaN,Sub-Saharan Africa,Lower middle income
264,Zimbabwe,ZWE,Proportion of time spent on unpaid domestic an...,NaN,Sub-Saharan Africa,Lower middle income

In [75]:
#selecting only countries we want to analyze

unpaid_dom_work_merged_df_test = unpaid_dom_work_merged_df[unpaid_dom_work_merged_df['country_name'].isin(['France', 'Germany','Norway','Greece','Brazil','United States','Colombia','Japan','New Zealand','Pakistan','Ghana','Cameroon'])]
unpaid_dom_work_merged_df_test= unpaid_dom_work_merged_df_test.reset_index()
unpaid_dom_work_merged_df_test

,index,country_name,country_code,indicator_name,average_since_2000,region,incomegroup
0,29,Brazil,BRA,Proportion of time spent on unpaid domestic an...,14.143553,Latin America & Caribbean,Upper middle income
1,42,Cameroon,CMR,Proportion of time spent on unpaid domestic an...,15.820860,Sub-Saharan Africa,Lower middle income
2,45,Colombia,COL,Proportion of time spent on unpaid domestic an...,17.256570,Latin America & Caribbean,Upper middle income
3,55,Germany,DEU,Proportion of time spent on unpaid domestic an...,17.058335,Europe & Central Asia,High income
4,77,France,FRA,Proportion of time spent on unpaid domestic an...,15.773140,Europe & Central Asia,High income
5,83,Ghana,GHA,Proportion of time spent on unpaid domestic an...,15.486110,Sub-Saharan Africa,Lower middle income
6,89,Greece,GRC,Proportion of time spent on unpaid domestic an...,18.125000,Europe & Central Asia,High income
7,118,Japan,JPN,Proportion of time spent on unpaid domestic an...,15.330556,East Asia & Pacific,High income
8,176,Norway,NOR,Proportion of time spent on unpaid domestic an...,15.848610,Europe & Central Asia,High income
9,179,New Zealand,NZL,Proportion of time spent on unpaid domestic an...,18.055560,East Asia & Pacific,High income
10,183,Pakistan,PAK,Proportion of time spent on unpaid domestic an...,19.861110,South Asia,Lower middle income
11,250,United States,USA,Proportion of time spent on unpaid domestic an...,15.736843,North America,High income